@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-slant {
  clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
}
@layer utilities {
  .clip-path-custom {
    clip-path: polygon(70% 100%, 0% 100%, 0 0, 85% 0);
  }

  @keyframes fadeInLogo {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInTagline {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInLogo {
    animation: fadeInLogo 0.8s ease-in forwards;
  }

  .animate-fadeInTagline {
    animation: fadeInTagline 0.8s ease-in forwards;
    animation-delay: 0.3s;
  }
}

.no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
}

.no-arrow::-ms-expand {
  display: none;
}

/* Custom scrollbar utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05); /* Very subtle, almost invisible */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.15); /* Slightly more visible on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.05) transparent;
}
